body{ 
  background-color: #d9ed92;
}

#top{
  text-align: center;
}

#bigTit{ 
  width: 90%;
  text-align: center;
  margin-top: 5%;
}

#conts{ 
  text-align: center;
  color: #168aad;
  font-family: 'DotGothic16', sans-serif;
  font-size: 200%;
}

#set{
  margin: 5%;
  margin-right: 10%;
  margin-left: 10%;
}

#links{
  text-align: left;
  font-size: 150%;
  color: #1a759f;
  font-family: 'Roboto Condensed', sans-serif;
}

#nets{
  width: 55%;
  
}

.comms{
  text-align: right;
  font-family: 'DotGothic16', sans-serif;
}