body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

#center{
  text-align: center;
}

.navbar {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left-nav a {
  font-family: 'Poppins', sans-serif;
  color: #101010;
  text-decoration: none;
  margin-right: 20px;
}

#info{
  margin-top: 30px;
  margin-left: 1%;
}

.right-nav {
  color: #101010;
}

.content {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  max-width: 100%;
  /* margin: 0 auto; */
  padding: 20px;
  box-sizing: border-box;
}

.content a {
  color: #101010; /* Set link color to black */
}

.title {
  font-size: 1.5em;
  font-family: 'Alata', sans-serif;
  text-decoration: none; /* Remove underline */
  color: #101010;
}

.navbar a{
  text-decoration: none; /* Remove underline */
  color: #101010;
}

#push{
  margin-left: 10px;
}


@media screen and (min-width: 951px) {
  .helper{
    margin-top: 200px;
  }
}

@media screen and (max-width: 950) and (min-width: 800px)  {
  .helper{
    margin-top: 150px;
  }
}

.main-image {
  width: 100%;
  max-height: 70vh;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.middleImg{
  width: 95%;
  height: auto;
  max-width: 850px;
}

.smallerImg{
  width: 95%;
  height: auto;
  max-width: 600px;
}

.video-container {
  position: relative;
  width: 80%; /* Adjust this value to make the video container smaller or larger */
  max-width: 800px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the container horizontally */
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width) */
  height: 0;
  overflow: hidden;
}

#ytPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  text-align: left;
}

.social {
  text-align: left;
}

.row{
  margin-bottom: 5%;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#holder{
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes fader {
  from {border: 1px solid #f3f3f3;}
  to {border: 3px solid #ff0086;;}
}


.round-button {
  display: block; /* Display buttons as block elements */
  width: 65%; /* Set a fixed width for the buttons */
  padding: 10px 20px;
  margin: 10px auto; /* Center buttons horizontally */
  border-radius: 10px;
  background-color: #f3f3f3;
  color: #101010;
  text-decoration: none;
  animation-name: fader;
  animation-duration: 3s;
  border: 3px solid #ff0086;
}

/* Change button color on hover */
.round-button:hover {
  background-color: #ff0086;
}


