body{
  background-color: white;
  cursor: url(assets/bigname.PNG);
}

/* totally new stuff */

#pic{
  width: 15%;
  max-width: 400px;
  min-width: 150px;
  height: auto;
  text-align: center;
}

#picCONT{
  text-align: center;
}

div.scrollmenu {
  color: black;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.activeLink{
  color:#FF477E;
}

.inactiveLink{
  color: black;  
}

.activeLink:hover{
  color:#FF477E;
}

.inactiveLink:hover{
  color: #ff99ac;  
}

div.scrollmenu a {
  display: inline-block;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#links{
  text-align: center;
}

#special{
  margin-top: 10%;
  text-align: center;
  background-color: #ff99ac;
  padding: 40px ;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
}

#specialTXT{
  font-size: 150%;
  font-family: 'Francois One', sans-serif;
}

#specialLink{
  font-size: 150%;
  color: #fae0e4;
  font-family: 'Francois One', sans-serif;
}

#specialLink3{
  font-size: 150%;
  color: #FF477E;
  font-family: 'Francois One', sans-serif;
}

#imgSetting{
  width: 60%;
  max-width: 400px;
}

#imgSetting2{
  width: 90%;
  max-width: 1000px;
}

#centered{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 601px) {
  #meTXT{
    font-size: 30px;
  }
  #specialTXT2{
  font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  #meTXT{
    font-size: 15px;
  }
  #specialTXT2{
  font-size: 20px;
  }
}

#meTXT{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
  }

#special2{
  margin-top: 10%;
  text-align: center;
  background-color: #ff99ac;
  padding: 35px ;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
}
#specialTXT{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

#specialTXT2{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

#titular {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 250%;
}

#titular2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 150%;
}

