.centering{
  text-align: center;
}

@media screen and (min-width: 601px) {
  #title{
    width: 30%;
  }
  #title2{
    width: 60%;
    margin-top: 5%;
  }

  #titleCards{
    font-size: 300%;
  }

  #artboard{
    width: 50%;
  }
  #evenLink{
    font-family: 'Fjalla One', sans-serif;
    font-size: 200%;
    margin: 1%;
    text-decoration: none;
    color: #283618;
  }

  #oddLink{
    font-family: 'Fjalla One', sans-serif;
    font-size: 200%;
    margin: 1%;
    text-decoration: none;
    color: #606c38;
  }

  #plaque{
    font-family: 'Fjalla One', sans-serif;
    color: #bc6c25;
    font-size: 150%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media screen and (max-width: 601px) {
  #title{
    width: 70%;
  }
  #title2{
    width: 90%;
    margin-top: 50%;
  }

  #titleCards{
    font-size: 150%;
  }

  #artboard{
    width: 85%;
  }
  #evenLink{
    font-family: 'Fjalla One', sans-serif;
    font-size: 150%;
    margin: 2%;
    text-decoration: none;
    color: #283618;
  }

  #oddLink{
    font-family: 'Fjalla One', sans-serif;
    font-size: 150%;
    margin: 2%;
    text-decoration: none;
    color: #606c38;
  }

  #plaque{
    font-family: 'Fjalla One', sans-serif;
    color: #bc6c25;
  }
}

body{
  background-color: #fefae0;
}

#titleCards{
  margin-left: 5%;
  font-family: 'Fjalla One', sans-serif;
  color: #dda15e;
}

#trying{
  color: #bc6c25;
  font-size: 70%;
}

#imgSet{
  text-align: center;
}

#artboard{
  border: 10px solid #283618;
}